@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-offWhite py-2 px-7 text-dark font-medium text-xl rounded-sm transition hover:translate-y-1;
  }
  .disabledBtn {
    @apply pointer-events-none opacity-50;
  }
}

